@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900&display=swap');

:root {
    --color-primary: #ff9432;
    --color-secondary: #424652;
    --color-text: #fff;
}

body {
    font-family: 'Lato', sans-serif;
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#background:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-top: 100vh solid var(--color-primary);
    border-right: 100vw solid var(--color-secondary);
}

#image-canvas,
#webcam-container,
#loading-circle,
#finished-jutsu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#webcam-container {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease-in;
}

#label-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: 2.5em;
    text-align: center;
    z-index: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

#loading-circle {
    border-radius: 50%;
    overflow: hidden;
}

#past-labels {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

#finished-jutsu-container {
    color: var(--color-text);
    font-size: 1.5em;
    text-align: center;
    z-index: 2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}